<html>
	<head>
		<title>Test Binding</title>
		<script src="../lib/angular/angular.js"></script>
		<script src="../ngmodules/app.js"></script>
		<script src="../controllers/TestBindingController.js"></script>

		<link href="../css/bootstrap.css" rel="stylesheet" />
		<link href="../css/bootstrap-theme.css" rel="stylesheet" />
	</head>
	<body ng-app="sportsStore">
	
	
	<div ng-controller="testbindingCtrl">
	
	  s1 : {{s1}}
	  
	  <br/>
	  
	  s2 : {{s2}}
	  
	  <br/>
	  s3 : {{s3}}
	  
	  <br/>
	  	  s4 : {{s4}}
	  
	  <br/>
	  
	 s1 : <input type="text" ng-model="s1">
	  
	  <br/>
	  
	  s2 : <input type="text" ng-model="s2">
	  	  <br/>
	  
	  s3 : <input type="text" ng-model="s3">
	  
	  
	  	  <br/>
	  	  
	  	  	  s4 : <input type="text" ng-model="s4">
	  
	  
	  	  <br/>
	  	  
	  
	  combined : {{combinedStr()}}
	   <br/>
	   combined2 : {{combinedStr2()}}
	   
	  
	  







	</div>	
		
		
		
		
		
		
	</body>
</html>